body{
    background-color: rgb(66, 203, 210);
    color: rgb(18, 79, 75);
    margin-left:5%; padding: 2px;
}

h1{
    font-size: 40pt;
    font-weight: bold;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
}